*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}


/*arrumar hover para cada item no menu ao invés de todos ao mesmo tempo*/

.menu:hover {
    text-align: right;
    padding-top: 30px;
    text-decoration: underline;
    color: rgb(176, 0, 153);
    

} 


/*as img estão bugando, logoqcapa está como "background" do texto, corrigir isso*/
img {
    text-align: center;
    margin: 80px 70px 70px 80px;

}

.capalogo {
    text-align: left;
    width: 80px;
    height: 60px;
}

.logoqueehcapa {
    text-align: center;
    width: 200px;
    height: 300px;
    
}


body{

    color: white;
    background-color: rgb(15, 2, 29);
      }


a{
    color: white;
    text-decoration: none; 
    margin-right: 15px;
}

.menu{
    text-align: right;
    padding-top: 30px;
    
}

.sobreuni{
    text-align: center;
    margin: 80px 0;
    padding-top: 150px;;
}

.quemsomos{
    text-align: center;
    margin: 80px 100px;
    padding-top: 15px;
}

.fivereasons{
    text-align: center;
    margin: 80px 0;
    padding-top: 15px;
}

header img{
    width: 900px;
    height:400px;
   
}

.center{
    text-align: center;
}
