/*import the poppins font from google*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,600;1,800&display=swap');


/*variáveis no css*/
:root {
 --main-color: rgb(152,68,158);
 --text-color:#ffff;
 --bg-color-01: rgb(13,0,16);
 --bg-color-02: rgb(27,0,32);
 --color-00: rgba(0,0,0,0.1);
 
    /*mais fácil do que decorar cada cor*/

/*extra para testar*/
--color-01: rgb(55, 1, 64); /*(Hex: #370140)*/
--color-02: rgb(75, 1, 88); /*(Hex: #4b0158)*/
--color-03: rgb(89, 1, 104); /*(Hex: #590168)*/
--color-04: rgb(103, 1, 120); /*(Hex: #670178)*/
--color-05: rgb(117, 2, 134); /*(Hex: #750286)*/
--color-06: rgb(130, 2, 152); /*(Hex: #820298)*/
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth; /*scrollar de forma suave entre os conteúdos*/
}


html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--bg-color-01);
    color:var(--text-color);
}


header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 1.1rem; /*tamanho raiz*/
    background-color: var(--color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    border: solid 1px var(--color-02); /*teste*/
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    
}
