html, body {
    height: 100%; /* Para ocupar toda a altura da tela */
    margin: 0;
}

body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.container {
    width: 300px;
    height: 300px;
    background-color: blue;
    color: white;
    display: flex; /* Adiciona Flexbox ao container */
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    text-align: center; /* Centraliza o texto */
}
